/* src/styles/search.css
   Styles specific to the search bar and form. */

.search-wrapper {
  padding: 0 12px 0 12px;
  margin: 0;
  width: 100%;
  max-width: none;
}

@media (min-width: 768px) {
  .search-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none;
    display: block;
    float: none;
    color: var(--search-text);
  }
}

.search-form {
  width: 100%;
  flex: 1 0 auto;
  max-width: 665px;
  margin: 0 auto;
  padding-left: 1em;
  padding-top: 1px;
  font-size: 1.14em;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  position: relative;
  height: 2.8em;
  background-color: var(--bg-secondary);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgb(0 0 0 / 6%);
}

.search-input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1.1em;
  display: inline-flex;
  flex-grow: 1;
  font-weight: normal;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  height: 2.545455em;
  z-index: 1;
  position: relative;
  top: -1px;
  color: var(--fg-primary);
  min-width: 0;
  width: 100%;
  text-overflow: ellipsis;
}

.search-input::placeholder {
  color: var(--fg-placeholder);
  text-overflow: ellipsis;
}

.search-button {
  transition: background-color 0.1s;
  text-align: center;
  border-radius: 0 4px 4px 0;
  display: inline-flex;
  min-width: 26px;
  border: none;
  color: #999;
  font-size: 1.25em;
  padding: 0 0.64em;
  height: auto;
  min-height: 1.8em;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -3px;
  line-height: 1.5;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-font-smoothing: subpixel-antialiased;
}

body[data-theme='dark'] .search-wrapper:hover .search-button {
  color: #fff;
}
.search-button:hover {
  background-color: rgb(41, 80, 191);
  color: #fff;
}
